node_modules
npm-debug.log
OLD
*.code-workspace
.gitignore
.cache/
*.swp
*.swo
.DS_Store
Thumbs.db
.env
.env.development
.env.test
jest.config.js
jest.config.ts
*.env
tests/
__tests__/
.next
*.md 
LICENSE
.github
.prettierignore
.prettierrc.json
.all-contributorsrc
.git


# https://github.com/aws/aws-cdk/issues/3899#issuecomment-580394612
packages/infra*
