You want to create a .env.development and a .env.production with corresponding values. 

WEBSITE_URL= The *full* URL of your site. `https://plutomi.com` or `http://localhost:3000`
API_URL= The *full* URL of your API. `https://api.plutomi.com` or `http://localhost:4000`

DOMAIN_NAME= The domain name of your site (same as above, without the protocol). `plutomi.com` or `localhost:3000`
API_DOMAIN_NAME= The domain mame of your API (again, same as above without the protocol). `api.plutomi.com` or `localhost:4000`

EXPRESS_PORT= The port your API runs on. You must update the Dockerfile to match this!!! - 4000 is default

HOSTED_ZONE_ID= The ID of your hosted zone in Route53

AWS_ACCOUNT_ID= Your AWS account ID to add to ARNs when creating IAM roles

DYNAMO_TABLE_NAME= The name of your DynamoDB Table

GOOGLE_CLIENT_ID= The public ID for the log in with Google functionality. How to get this is shown in the first few steps here: https://dev.to/sivaneshs/add-google-login-to-your-react-apps-in-10-mins-4del

IRON_SESSION_PASSWORD_1= A *very* long password for your encrypted session cookies

IRON_SEAL_PASSWORD= A *very* long password for your login links