## LOCAL
ENVIRONMENT=local
BASE_WEB_URL="http://localhost:3000"
BASE_API_URL="http://localhost:8080"


# For easy use in api / consumers
MYSQL_URL="mysql://admin:password@localhost:3306/plutomi"
# Requierd for SQLX to do compile time checks
DATABASE_URL="mysql://admin:password@localhost:3306/plutomi"

# For easy use in api / consumers
KAFKA_URL="localhost:9094"


# Cloudflare Config - If you're looking for the admin credentials, check the /terraform folder.
# This is for using tbe bucket only
CLOUDFLARE_R2_ACCESS_KEY_ID="TODO"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="TODO"
CLOUDFLARE_R2_ENDPOINT="https://<YOUR_ACCOUNT_ID>.r2.cloudflarestorage.com"

# Optional, logging / monitoring / dashboards
AXIOM_DATASET="development"
AXIOM_ORG_ID="abc123"
AXIOM_TOKEN="xyz123"



