# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

.pnp.js

# testing
coverage/
# Allow this to go through so that we can generate a badge for the readme
!/coverage/coverage-summary.json

# next.js
out/
.next/

# production
build/

# misc
.DS_Store
**/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore files that start with .env except samples
.env*
!.env.example
!.env.sample


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Infra package
cdk.out
cdk.context.json

# Local yarn files
.yarn/

# Built directories
dist/

.github/.DS_Store

# Ignore any files accidentally copied to local dir
root@*/*


# Ignore the temporary secret file
secret.yaml



# Ignore everything inside of terraform unless explicitly added
/terraform/**


!/terraform/main.tf
!/terraform/secrets.example.tfvars
!/terraform/secrets-staging.example.tfvars
!/terraform/secrets-production.example.tfvars
!/terraform/variables.tf
!/terraform/providers.tf
!/terraform/aws.tf
!/terraform/cloudflare.tf
!/terraform/axiom.tf
!/terraform/hetzner.tf
