issuer:
  name: letsencrypt
  server: https://acme-v02.api.letsencrypt.org/directory
  # Prod has 5 certs per week limit - be careful :D
  # If you add a new subdomain, it'll count as a new cert
  # server: https://acme-staging-v02.api.letsencrypt.org/directory
  email: jose@plutomi.com
  secretRef: letsencrypt
  ingress: traefik
