*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

terraform/terraform.tfvars
terraform/terraform.tfvars
terraform/*.tfvars
/terraform/*.tfvars

*.tfvars
*/*.tfvars

terraform.tfvars
