@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range'] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  background: rgba(209, 250, 229, 0.78);
  border: 0.1px solid rgba(1, 1, 1, 0);
  border-radius: 25px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  margin-top: -7.4px;
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 2.2px solid #10b981;

  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #d6fae8;
}
input[type='range']::-moz-range-track {
  background: rgba(209, 250, 229, 0.78);
  border: 0.1px solid rgba(1, 1, 1, 0);
  border-radius: 25px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 2.2px solid #10b981;

  border-radius: 15px;
  cursor: pointer;
}
input[type='range']::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type='range']::-ms-fill-lower {
  background: #ccf9e2;
  border: 0.1px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
}
input[type='range']::-ms-fill-upper {
  background: rgba(209, 250, 229, 0.78);
  border: 0.1px solid rgba(1, 1, 1, 0);
  border-radius: 50px;
}
input[type='range']::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 2.2px solid #10b981;

  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type='range']:focus::-ms-fill-lower {
  background: rgba(209, 250, 229, 0.78);
}
input[type='range']:focus::-ms-fill-upper {
  background: #d6fae8;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type='range'] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
.custom-shape-divider-top-1630498878 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1630498878 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 162px;
}

.custom-shape-divider-top-1630498878 .shape-fill {
  fill: white;
}

.custom-shape-divider-bottom-1630499594 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630499594 svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 162px;
}

.custom-shape-divider-bottom-1630499594 .shape-fill {
  fill: #ffffff;
}
