{
  "root": true,
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "ignorePatterns": ["mode_modules", "dist", ".next"],
  "import/resolver": {
    "node": {
      "moduleDirectory": ["node_modules", "./src"]
    }
  },
  "rules": {
    "no-console": "error",
    "quotes": [2, "double", { "avoidEscape": true }],
    "import/no-relative-packages": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["**/dist"],
            "message": "Don't import from 'dist' directories, use the root import instead. -> @plutomi/shared instead of 'plutomi/shared/dist'"
          }
        ]
      }
    ]
  },
  "parserOptions": {
    // Required for certain syntax usages
    "ecmaVersion": "latest",
    "project": "./tsconfig.json"
  }
}
